<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Do List</title>
</head>
<body>

    <h1>Don't Do List</h1>

    <form method="post" action="/todos/create">
        <input type="text" name="description">
        <input type="submit" value="Create">

    </form>

    <p>Like, try really hard not to do these things. Ok?</p>

    <ul>
        {% for d in data %}
        <li>{{ d.description }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>